* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'baloo_bhaijaan';
	src: url(../font/BalooBhaijaan2-Regular.ttf);
}

/*navigasi bar*/
/* by adji muhamad zidan */
.nav {
	background-color: #38ada9;
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
	color: white;
	position: sticky;
	top: 0;
	z-index: 100;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav .logo {
	/*background-color: lightblue;*/
	padding: 8px 0;
}

.nav .logo h1 {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
    /* background-color: lightblue; */ 
     
}

.nav .menu {
	/*background-color: lightblue;*/
	padding: 8px 0;
}

.nav .menu ul li {
	display: inline-block;
	margin-left: 50px;
	padding: 5px 0;
}

.nav .menu ul li a {
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	font-size: 15px;
	padding: 5px 0;
}

.nav .menu ul li a:hover {
	color: lightblue;
}

/* mobile navbar list */
.nav-list-mobile {
    display: none;
    background-color: #00cec9;
    padding: 10px 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav-list-mobile ul li {
    line-height: 38px;
    list-style: none;
}

.nav-list-mobile ul li a {
    font-family: sans-serif;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.nav #icon {
    display: none;
    width: 38px;
}

/*container*/
.container .cover {
	background-image: url(../background/pexels-trang-doan-1092730.jpg);
	height: 93.2vh;
	background-size: cover;
	background-position: center;
	/*filter: brightness(0.6);*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cover h1 {
	text-align: center;
	color: white;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 4px;
	border: 2px solid white;
	width: 330px;
	margin: auto;
	text-transform: uppercase;
}

/* produk */
/* by sifa nur febriani */
.product {
    width: 100%;
    position: relative;
    margin: auto;
    /*background-color: lightblue;*/
    padding-top: 50px;
    padding-bottom: 85px;
    /* padding: 50px 0; */
}

.product h2 {
    font-family: 'baloo_bhaijaan';
    font-size: 35px;
    text-align: center;
    /*background-color: lightblue; */
}

.product .item {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    /*background-color: lightcoral;*/
}

/* gambar produk */
.gb1, .gb2, .gb3 {
    width: 200px;
    /*background-color: lightcyan; */
    margin: 0 25px;
    padding: 5px;
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

/* produk1 */
.gb1 img {
    width: 200px;
    height: 200px;
    /*background-color: lightgrey;*/
}

.gb1 p {
    font-size: 18px;
    text-align: center;
}

.gb1 .btn1 {
    width: 75%;
    border-radius: 5px;
    background-color:black ;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    font-family: 'baloo_bhaijaan';
    margin: auto;
    text-align: center;
    padding: 2px 0;
}

.gb1 .btn1 .fa-shopping-cart {
	color: white;
}

.gb1 .btn1 a {
    text-decoration: none;
    color: white;
}

.gb1 .btn1:hover {
    text-align: center;
    color: white;
    transition: 0.2s;
    background-color: limegreen;
}

/* produk2 */
.gb2 img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    /*background-color: lightgrey;*/
}

.gb2 p {
    font-size: 18px;
    text-align: center;
}

.gb2 .btn2 {
    width: 75%;
    border-radius: 5px;
    background-color:black ;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    font-family: 'baloo_bhaijaan';
    margin: auto;
    text-align: center;
    padding: 2px 0;
}

.gb2 .btn2 .fa-shopping-cart {
	color: white;
}

.gb2 .btn2 a {
    text-decoration: none;
    color:white;
    margin-top: 15px;
}

.gb2 .btn2:hover {
    text-align: center;
    color: white;
    transition: 0.2s;
    background-color: limegreen;
}

/* produk3 */
.gb3 img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    /*background-color: lightgrey; */
}

.gb3 p {
    font-size: 18px;
    text-align: center;
}

.gb3 .btn3 {
    width: 75%;
    border-radius: 5px;
    background-color:black ;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    font-family: 'baloo_bhaijaan';
    margin: auto;
    text-align: center;
    padding: 2px 0;
}

.gb3 .btn3 .fa-shopping-cart {
	color: white;
}

.gb3 .btn3 a {
    text-decoration: none;
    color:white;
    margin-top: 15px;
}

.gb3 .btn3:hover {
    text-align: center;
    color: white;
    transition: 0.2s;
    background-color: limegreen;
}

/*about*/
/* by risky yanto */
.about {
    background-color: #38ada9;
    padding-top: 50px;
    padding-bottom: 100px;
}

.about .content {
    width: 60%;
    margin: auto;
    color: white;
}

.about .content h2 {
    text-align: center;
    color: black;
    font-family: 'baloo_bhaijaan';
    font-size: 35px;
    margin-bottom: 25px;
    color: white;
}

.about .content p {
    word-spacing: 2px;
    line-height: 25px;
    text-align: justify;
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

.about .content .p1::first-letter {
    font-size: 36px;
}

/* footer */
/* by muhammad alfis syah */
footer {
    background-color: #1e272e;
    color: white;
}

footer .footer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 35px;
}

footer .section1, .section2, .section3, .section4 {
    /* background-color: grey; */
    width: 280px;
}

footer .section1 h3 {
    margin-bottom: 15px;
    font-family: 'baloo_bhaijaan';
    border-bottom: 1px solid #38ada9;
    font-size: 20px;
}

footer .section1 p {
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
    line-height: 24px;
    text-align: justify;
    font-size: 15px;
}

footer .section2 h3 {
    margin-bottom: 15px;
    font-family: 'baloo_bhaijaan';
    border-bottom: 1px solid #38ada9;
    font-size: 20px;
}

footer .section2 ul li {
    list-style-type: square;
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
    line-height: 30px;
    font-size: 15px;
    margin-left: 20px;
}

footer .section2 ul li a {
    text-decoration: none;
    color: white;
}

footer .section2 ul li a:hover {
    color: #38ada9;;
}

footer .section3 h3 {
    margin-bottom: 15px;
    font-family: 'baloo_bhaijaan';
    border-bottom: 1px solid #38ada9;
    font-size: 20px;
}

footer .section3 table {
    width: 100%;
    border: none;
    font-size: 15px;
}

footer .section3 tr td {
    padding: 3px 0;
    border: none;
}

footer .section4 h3 {
    margin-bottom: 15px;
    font-family: 'baloo_bhaijaan';
    border-bottom: 1px solid #38ada9;
    font-size: 20px;
}

footer .section4 ul li {
    list-style-type: none;
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
    line-height: 30px;
    font-size: 15px;
}

footer .section4 .fab {
    margin-right: 8px;
}

footer .article_footer {
    text-align: center;
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
    padding: 5px 0;
    font-size: 14px;
}

/* responsive */
@media screen and (max-width: 1024px) {
    footer .footer {
        flex-direction: column;
    }

    footer .section1, .section2, .section3, .section4 {
        /* background-color: grey; */
        width: 500px;
        margin: 20px auto;
    }

    footer .section3 table tr td {
        border: none;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    footer .section1, .section2, .section3, .section4 {
        /* background-color: grey; */
        width: 375px;
    }

    .gb1, .gb2, .gb3 {
        width: auto;
        /* background-color: lightcyan; */
    }

    .gb1 img {
        width: 160px;
        height: 160px;
    }
    
    .gb1 .btn1, .gb2 .btn2, .gb3 .btn3 {
        font-size: 12px;
    }
    
    /* produk2 */
    .gb2 img {
        width: 160px;
        height: 160px;
        object-fit: contain;
        /* background-color: lightgrey; */
    }
    
    /* produk3 */
    .gb3 img {
        width: 160px;
        height: 160px;
        /* background-color: lightgrey; */
    }

}

@media screen and (max-width: 600px) {
    .nav {
        padding: 0 25px;
    }
    
    .nav .menu {
        display: none;
    }

    .nav #icon {
        display: block;
        /* background-color: grey; */
    }
    
    .product .item {
        /* background-color: lightcoral; */
        flex-wrap: wrap;
    }

    .gb1, .gb2, .gb3 {
        width: auto;
        /* background-color: lightcyan; */
        margin-bottom: 25px;
    }

    footer .section1, .section2, .section3, .section4 {
        /* background-color: grey; */
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    footer .section1, .section2, .section3, .section4 {
        /* background-color: grey; */
        width: 275px;
    }
}

@media screen and (max-width: 400px) {
    .cover h1 {
        width: 275px;
    }
}